.aside-list {
    width: 30%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.picture {
    display: block;
    margin: 0 auto;
    margin-top:60px;
    margin-bottom: 30px;
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 3px white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.list {
    padding-bottom: 15px;
}

.aside-item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
    border-bottom: 1px solid rgb(255, 255, 255);

    .list--skills {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px;
    }

    .links-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .links__item {
            margin-bottom: 5px;

            .links__icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
    }

    .aside-item__title {
        font-size: 24px;
        margin-bottom: 30px;
        color: white;
    }
    
    .list__item {
        margin-bottom: 5px;
        list-style: none;
        color: white;

        .list__subtitle {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: white;
        }

        .list__description {
            margin: 7px 0px 15px 7px;
            font-style: italic;
            font-weight: 200;
            font-size: 14px;
            line-height: 12px;
        }
    }
}

.aside--bio {
    margin-top: 50px;
}

.bio-link {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13,62px;
    text-decoration: none;
    color: rgba(86, 204, 242, 1);
}
