.footer {
    width: 100%;
    min-height: 75px;
    padding: 0px 70px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius:  30px;
    
    .github-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 170px;
        font-family: 'Inter', sans-serif;
        // border: 1px saddlebrown solid;

        .github-picture {
            width: 32px;
            height: 32px;
            background: url(../../img/GitHub-Mark-Light-32px.png) no-repeat center;
            background-size: cover;
        }

        .github-link {
            color: white;
            text-decoration: none;
        }
    }

    .rs-school-logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 155px;
        height: 30px;

        .rs-school-logo {
            height: 30px;
        }

        p {
            font-family: 'Inter', sans-serif;
            color: white;
        }
    }
}    